<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="#" th:href="@{/css/StyleSearch.css}" rel="stylesheet"/>
    <title>Search</title>
</head>
<body>

<div class="main-container">

    <div class="header">
        <a href="home">Home</a>
        <a href="#">Friends</a>
        <a href="myFriendRequest">Friend Request</a>
        <form action="#" th:action="@{/user/search}" th:object="${users}" method="post">
            <input type="text" name="searchName" placeholder="Search..">
            <button class="search-button" type="submit">Search</button>
        </form>

    </div>

    <table style="width:10%" th:each="user : ${users}">
        <tr>
            <td th:text="${user.userProfile.firstName}"></td>
            <td th:text="${user.userProfile.lastName}"></td>
            <td>
                <form action="#" th:action="@{/user/sendFriendRequest}" method="post">
                    <input type="hidden" th:value="${user.userProfile.id}" name="userProfile.id">
                    <button class="add-button" type="submit">Add As Friends</button>
                </form>
            </td>
        </tr>
    </table>

    <!--    <div class="timeline-bar" th:each="user : ${users}"-->
    <!--         th:text="${user.userProfile.firstName} + ${user.userProfile.lastName}">-->
    <!--    </div>-->

</div>
</body>
</html>